/* fonts */
@font-face {
    font-family: 'Kaushan Script';
    src: url(../fonts/KaushanScript-Regular.ttf);
}

/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
header,
main,
footer {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
p {
    color: #b6b6b6;
    line-height: 22px;
}
img {
    display: block;
}

/* header */
header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #95E1D3;
}
.menu {
    list-style: none;
    display: flex;
}
.menu li {
    margin-left: 55px;
}
.menu a {
    color: #95E1D3;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.menu a:hover {
    color: #F38181;
    border-bottom: 3px solid #F38181;
}

/* section-title */
.section-title {
    text-align: center;
}
.subtitle {
    font-family: 'Kaushan Script';
    font-size: 24px;
    line-height: 35px;
    color: #000;
}
.section-title h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 37px;
}
.section-title hr {
    width: 60px;
    height: 4px;
    background: #F38181;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

/* services */
.service-list {
    padding-top: 80px;
    padding-bottom: 50px;
}
.services {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.services li {
    width: 33.33%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    align-items: flex-start;
}
.services img {
    margin-right: 20px;
}
.services h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

/* team */
.team {
    padding-top: 50px;
    padding-bottom: 80px;
}
.team hr {
    margin-bottom: 45px;
}
.team-list {
    padding-top: 30px;
    text-align: center;
    list-style: none;
    display: flex;
}
.team-item {
    width: 33.33%;
    margin-right: 30px;
}
.team-item:last-child {
    margin-right: 0;
}
.item-photo {
    position: relative;
}
.item-photo::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10px;
    left: -10px;
    background: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
    opacity: 0;
    transition: .3s;
}
.item-photo:hover::before,
.item-photo:hover .social {
    opacity: 1;
}
.team-item img {
    width: 100%;
}
.social {
    list-style: none;
    display: flex;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    transform: translate(-50%);
    transition: .3s;
    opacity: 0;
}
.social li {
    height: 57px;
    width: 57px;
    background: #FCE38A;
    margin-left: 1px;
    transition: background .3s;
}
.social li:hover {
    background: #95E1D3;
}
.social a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.social img {
    height: 26px;
}
.team-item h3 {
    margin-top: 30px;
    margin-bottom: 11px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
.team-item p {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #B6B6B6;
}

/* footer */
footer {
    border-top: 1px solid #b6b6b6;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form {
    display: flex;
}
input[type=email] {
    padding: 11px 10px;
    border: 1px solid #B6B6B6;
}
input[type=email]:focus {
    outline: none;
    border: 1px solid #B6B6B6;
}
input[type=email]::placeholder {
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    color: #b6b6b6;
}
input[type=submit] {
    color: #fff;
    background: #95E1D3;
    padding: 11px 40px;
    border: none;
    text-transform: uppercase;
}

/* responsive */
@media (max-width: 1200px) {
    header,
    main,
    footer {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 768px) {
    nav {
        display: none;
    }
    .services li {
        width: 50%;
    }
    .team-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .team-item {
        width: 50%;
        margin-right: 0;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    footer {
        flex-direction: column-reverse;
    }
}